## DİKKAT !!! VERİ SETİ BÜYÜK OLDUĞUNDAN VE DATAFRAME OLUSTURMASI UZUN SÜRDÜĞÜNDEN DERS BAŞLAMADAN LÜTFEN  1. VE 2. SENARYOLARI ÇALISTIRIN...

#### 1- Kütüphanelerin Yüklenmesi

In [4]:
import numpy as np ## numpy kütüphanesinin import edilmesi
import pandas as pd ## pandas kütüphanesinin import edilmesi
import seaborn as sns ## seaborn kütüphanesinin import edilmesi
import matplotlib.pyplot as plt ## matplotlip kütüphanesinin import edilmesi
import datetime as dt ## datetime kütüphanesinin import edilmesi
pd.pandas.set_option('display.max_columns', None) ## dataframein tüm sutunlarının görülmesi için gereken kod

### 2- Verisetinin Yüklenmesi

In [3]:
from google.colab import drive
drive.mount('/content/drive')     #colab ve drive dan veriyi çeip çalışcaklar kendi drive dosya yolu
%cd /content/drive/My\ Drive/

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
/content/drive/My Drive

In [5]:
data = pd.read_excel("/content/MarketSales.xlsx")

### 3- Verisetinin Orjinalınde değişiklik gelmemesei için veriyi başka bir değişkene atayın

In [7]:
#data.copy()
data2=data.copy()
#data2=data

### 4-Verisetinin Boyutlarına bulunuz

In [5]:
data2.shape

(611108, 26)

### 5-Verisetinin Sutunlarının İsimlerini Yazdırın

In [6]:
data2.columns

Index(['ID', 'ITEMCODE', 'ITEMNAME', 'FICHENO', 'DATE_', 'AMOUNT', 'PRICE',
       'LINENETTOTAL', 'LINENET', 'BRANCHNR', 'BRANCH', 'SALESMAN', 'CITY',
       'REGION', 'LATITUDE', 'LONGITUDE', 'CLIENTCODE', 'CLIENTNAME',
       'BRANDCODE', 'BRAND', 'CATEGORY_NAME1', 'CATEGORY_NAME2',
       'CATEGORY_NAME3', 'STARTDATE', 'ENDDATE', 'GENDER'],
      dtype='object')

### 6- Veri setinin bilgilerine ulaşılması

In [7]:
data2.info()
data2.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 611108 entries, 0 to 611107
Data columns (total 26 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   ID              611107 non-null  float64
 1   ITEMCODE        603941 non-null  float64
 2   ITEMNAME        603941 non-null  object
 3   FICHENO         611108 non-null  int64
 4   DATE_           611107 non-null  datetime64[ns]
 5   AMOUNT          611107 non-null  float64
 6   PRICE           611107 non-null  float64
 7   LINENETTOTAL    611107 non-null  float64
 8   LINENET         611107 non-null  float64
 9   BRANCHNR        611107 non-null  float64
 10  BRANCH          611107 non-null  object
 11  SALESMAN        611108 non-null  object
 12  CITY            611107 non-null  object
 13  REGION          611107 non-null  object
 14  LATITUDE        611107 non-null  float64
 15  LONGITUDE       611107 non-null  float64
 16  CLIENTCODE      592760 non-null  object
 17  CLIENTNAME      592743 non-null  object
 18  BRANDCODE       575551 non-null  object
 19  BRAND           575551 non-null  object
 20  CATEGORY_NAME1  603941 non-null  object
 21  CATEGORY_NAME2  583448 non-null  object
 22  CATEGORY_NAME3  401649 non-null  object
 23  STARTDATE       611108 non-null  datetime64[ns]
 24  ENDDATE         611108 non-null  datetime64[ns]
 25  GENDER          592743 non-null  object
dtypes: datetime64[ns](3), float64(9), int64(1), object(13)
memory usage: 121.2+ MB

,ID,ITEMCODE,FICHENO,DATE_,AMOUNT,PRICE,LINENETTOTAL,LINENET,BRANCHNR,LATITUDE,LONGITUDE,STARTDATE,ENDDATE
count,6.111070e+05,603941.000000,611108.000000,611107,611107.000000,611107.000000,611107.000000,611107.000000,611107.000000,611107.000000,6.111070e+05,611108,611108
mean,3.068463e+05,9012.469698,87348.360138,2017-02-17 00:53:11.150486016,1.270204,3.959574,4.055741,3.735345,39.201544,39.314996,3.029614e+05,2017-02-18 16:54:21.273881856,2017-02-18 16:55:25.428137984
min,1.000000e+00,6.000000,15560.000000,2017-01-02 00:00:00,0.001000,0.010000,0.010000,0.010000,1.000000,36.401800,2.641420e+01,2017-01-03 09:25:03,2017-01-03 09:25:43
25%,1.528645e+05,3269.000000,51857.000000,2017-01-26 00:00:00,1.000000,1.000000,1.250000,1.110000,22.000000,37.866700,2.897700e+01,2017-01-27 19:48:04,2017-01-27 19:48:33
50%,3.056480e+05,5719.000000,87169.000000,2017-02-17 00:00:00,1.000000,2.300000,2.430000,2.220000,40.000000,39.776700,3.179870e+01,2017-02-18 20:21:07,2017-02-18 20:21:52
75%,4.584295e+05,14780.000000,122269.000000,2017-03-10 00:00:00,1.000000,4.650000,4.960000,4.580000,55.000000,41.005300,3.634980e+01,2017-03-11 18:51:45,2017-03-11 18:51:57
max,1.445622e+06,23602.000000,586470.000000,2017-03-31 00:00:00,502.000000,1799.000000,4278.000000,3625.430000,81.000000,42.023100,4.302160e+07,2017-11-15 19:12:30,2017-11-15 19:13:38
std,1.812597e+05,7423.501236,42041.919628,NaN,1.995301,6.683096,11.956075,10.817679,21.827203,1.584433,3.597321e+06,NaN,NaN

### 7- Veri Setinde Boş Değer Varmı sorgulanması

In [8]:
data2.isnull().any()  #data2.isnull().sum()

ID                 True
ITEMCODE           True
ITEMNAME           True
FICHENO           False
DATE_              True
AMOUNT             True
PRICE              True
LINENETTOTAL       True
LINENET            True
BRANCHNR           True
BRANCH             True
SALESMAN          False
CITY               True
REGION             True
LATITUDE           True
LONGITUDE          True
CLIENTCODE         True
CLIENTNAME         True
BRANDCODE          True
BRAND              True
CATEGORY_NAME1     True
CATEGORY_NAME2     True
CATEGORY_NAME3     True
STARTDATE         False
ENDDATE           False
GENDER             True
dtype: bool

### 8- Verisetindeki Sutunlarda Toplam Kaç Adet Değer Var Bulunuz

In [9]:
column_length = data2.shape[0]
column_length

611108

### 9- Verisetinde Toplam Kaç Adet Değer Var Bulunuz

In [10]:
row_length = data2.shape[1]
row_length
print("Toplam değer: " + str(column_length * row_length))

Toplam değer: 15888808

### 10- Verisetinde Boş Değer Olan Sutunların İsimlerini yazdıralım

In [11]:
columns_with_nan = data2.columns[data2.isnull().any()].to_list()
print(columns_with_nan)

['ID', 'ITEMCODE', 'ITEMNAME', 'DATE_', 'AMOUNT', 'PRICE', 'LINENETTOTAL', 'LINENET', 'BRANCHNR', 'BRANCH', 'CITY', 'REGION', 'LATITUDE', 'LONGITUDE', 'CLIENTCODE', 'CLIENTNAME', 'BRANDCODE', 'BRAND', 'CATEGORY_NAME1', 'CATEGORY_NAME2', 'CATEGORY_NAME3', 'GENDER']

### 11-Verisetinin Sutunlarında Kaç farklı Type var Onu Bulalım

In [13]:
nunique_data_types = data2.dtypes.nunique()
print(nunique_data_types)

4

### 12- Verisetinin Sutunlarındaki Eşsiz Type Nelerdir Onlara Bakalım

In [14]:
unique_data_types = data2.dtypes.unique()
print(unique_data_types)

[dtype('float64') dtype('O') dtype('int64') dtype('<M8[ns]')]

### 13-Verisetinin İlk 5 Satırını Yazdıralım

In [15]:
print(data2.head(5))

        ID  ITEMCODE                         ITEMNAME  FICHENO      DATE_  \
0  11738.0    5863.0  SPRITE 1 LT LIMON AROMALI GAZOZ    18456 2017-01-07
1  10537.0       8.0                        TOZ SEKER    18105 2017-01-06
2  11335.0    5979.0             FALIM SAKIZ 5LI NANE    18350 2017-01-03
3  11336.0    5979.0             FALIM SAKIZ 5LI NANE    18350 2017-01-03
4  10115.0   12808.0            FALIM SAKIZ 5LI CILEK    18005 2017-01-05

   AMOUNT  PRICE  LINENETTOTAL  LINENET  BRANCHNR           BRANCH  \
0     1.0   2.00          2.00     1.85      52.0   Kocaeli Subesi
1     5.0   2.65         13.25    12.27       8.0   Antalya Subesi
2     1.0   0.40          0.40     0.37      40.0  İstanbul Subesi
3     1.0   0.40          0.40     0.37      40.0  İstanbul Subesi
4     1.0   0.40          0.40     0.37      41.0     İzmir Subesi

       SALESMAN      CITY   REGION  LATITUDE  LONGITUDE CLIENTCODE  \
0     Eyüp CİNE   Kocaeli  Marmara   40.8533    29.8815     467369
1  İlhan ÖRENLİ   Antalya  Akdeniz   36.8841    30.7056     131464
2  İsmet SARTIK  İstanbul  Marmara   41.0053    28.9770     656969
3  İsmet SARTIK  İstanbul  Marmara   41.0053    28.9770     656969
4  Gülten IŞLAK     İzmir      Ege   38.4189    27.1287     447336

       CLIENTNAME BRANDCODE   BRAND CATEGORY_NAME1   CATEGORY_NAME2  \
0  Sercan KIZILOK       156  SPRİTE         İÇECEK     GAZLI İÇECEK
1    İsmet ŞINGIR       NaN     NaN         İÇECEK        ÇAY KAHVE
2     Yağız KUBAL       300   FALIM           GIDA  SAKIZ SEKERLEME
3     Yağız KUBAL       300   FALIM           GIDA  SAKIZ SEKERLEME
4    Habibe AYSAN       300   FALIM           GIDA  SAKIZ SEKERLEME

       CATEGORY_NAME3           STARTDATE             ENDDATE GENDER
0               GAZOZ 2017-01-08 16:16:11 2017-01-08 16:17:13      E
1  SEKER TATLANDIRICI 2017-01-07 11:04:34 2017-01-07 11:05:37      E
2               SAKIZ 2017-01-04 14:00:03 2017-01-04 14:01:01      E
3               SAKIZ 2017-01-04 14:00:03 2017-01-04 14:01:01      E
4               SAKIZ 2017-01-06 14:00:30 2017-01-06 14:01:03      K

### 14-Verisetinin son 7 Satırını Yazdıralım

In [16]:
print(data2.tail(7))

              ID  ITEMCODE                  ITEMNAME  FICHENO      DATE_  \
611101  511342.0    6480.0  UNO KEPEKLI EKMEK 470GR.   134601 2017-03-18
611102  512198.0       7.0              EKMEK 250 GR   134742 2017-03-18
611103  511703.0       7.0              EKMEK 250 GR   134656 2017-03-18
611104  511496.0       7.0              EKMEK 250 GR   134630 2017-03-18
611105  492612.0       7.0              EKMEK 250 GR   130100 2017-03-15
611106  512343.0       7.0              EKMEK 250 GR   134762 2017-03-18
611107  512179.0    3942.0    ETI 80 GR KARAM BITTER   134738 2017-03-18

        AMOUNT  PRICE  LINENETTOTAL  LINENET  BRANCHNR           BRANCH  \
611101     1.0   3.25          3.25     3.22      73.0  Tekirdağ Subesi
611102     1.0   0.90          0.90     0.89      40.0  İstanbul Subesi
611103     1.0   0.90          0.90     0.89      66.0   Sakarya Subesi
611104     1.0   0.90          0.90     0.89       7.0    Ankara Subesi
611105     1.0   0.90          0.90     0.89      59.0     Muğla Subesi
611106     1.0   0.90          0.90     0.88      40.0  İstanbul Subesi
611107     1.0   1.90          1.90     1.76      74.0     Tokat Subesi

              SALESMAN      CITY      REGION  LATITUDE  LONGITUDE CLIENTCODE  \
611101  Aleyna ÇUKUREL  Tekirdağ     Marmara   40.9833    27.5167      16670
611102    İsmet SARTIK  İstanbul     Marmara   41.0053    28.9770     523722
611103  Beren BULGURCU   Sakarya     Marmara   40.6940    30.4358     374191
611104       Eda SINAV    Ankara  İç Anadolu   39.9208    32.8541     656248
611105  Nisa nur SAĞIM     Muğla         Ege   37.2153    28.3636      78643
611106     Arife DORAP  İstanbul     Marmara   41.0053    28.9770     926041
611107  Lütfiye DÖŞEME     Tokat   Karadeniz   40.3167    36.5500     241748

              CLIENTNAME BRANDCODE BRAND CATEGORY_NAME1 CATEGORY_NAME2  \
611101       Berat ÖGMEN       145   UNO           GIDA  UNLU MAMÜLLER
611102       Özcan PAPİR       NaN   NaN           GIDA  UNLU MAMÜLLER
611103   Mahmut BAYATGİL       NaN   NaN           GIDA  UNLU MAMÜLLER
611104       Gamze BOTUÇ       NaN   NaN           GIDA  UNLU MAMÜLLER
611105  Cengiz BEREKETÇİ       NaN   NaN           GIDA  UNLU MAMÜLLER
611106  Elifnur EGİNKAYA       NaN   NaN           GIDA  UNLU MAMÜLLER
611107    Hacer CANDEMİR        44   ETİ           GIDA  BÜSKİVİ ÇEREZ

       CATEGORY_NAME3           STARTDATE             ENDDATE GENDER
611101          EKMEK 2017-03-19 18:54:51 2017-03-19 18:54:58      E
611102          EKMEK 2017-03-19 16:09:39 2017-03-19 16:11:10      E
611103          EKMEK 2017-03-19 09:39:54 2017-03-19 09:40:50      E
611104          EKMEK 2017-03-19 20:30:58 2017-03-19 20:31:17      K
611105          EKMEK 2017-03-16 17:51:04 2017-03-16 17:51:18      E
611106          EKMEK 2017-03-19 17:00:12 2017-03-19 17:01:20      K
611107        BÜSKİVİ 2017-03-19 16:00:15 2017-03-19 16:00:37      K

### 15- Verisetinde her satır için AMOUNT PRICE LINENETTOTAL sutunlarına ait bilgileri yazdıralım

In [17]:
print("Amount:")
print(data2["AMOUNT"])

Amount:
0         1.0
1         5.0
2         1.0
3         1.0
4         1.0
         ...
611103    1.0
611104    1.0
611105    1.0
611106    1.0
611107    1.0
Name: AMOUNT, Length: 611108, dtype: float64

In [18]:
print("Price:")
print(data2["PRICE"])

Price:
0         2.00
1         2.65
2         0.40
3         0.40
4         0.40
          ...
611103    0.90
611104    0.90
611105    0.90
611106    0.90
611107    1.90
Name: PRICE, Length: 611108, dtype: float64

In [19]:
print("LineNetTotal:")
print(data2["LINENETTOTAL"])

LineNetTotal:
0          2.00
1         13.25
2          0.40
3          0.40
4          0.40
          ...
611103     0.90
611104     0.90
611105     0.90
611106     0.90
611107     1.90
Name: LINENETTOTAL, Length: 611108, dtype: float64

### 16- Verisetinde LINENETTOTAL sutunda 15 den büyük olan satırları yazdıralım

In [20]:
bigger_than_15_line_net_total = data2[data2["LINENETTOTAL"] > 15]
print(bigger_than_15_line_net_total)

              ID  ITEMCODE                                   ITEMNAME  \
62        9745.0   10429.0                YUDUM AYCICEK YAGI 5 LT TNK
64        3322.0   19108.0             F NEFFIS AYCICEK YAGI 5 LT PET
95        5317.0    6217.0                   LD LODOS DENİZCİSİ SLİMS
239       7783.0    5571.0   WELLA KOLESTON KOPUK BOYA 5/0 ACIK KAHVE
250       7611.0    3187.0        F NEFFIS TAZE KASAR PEYNIRI 1000 GR
...          ...       ...                                        ...
610879  597076.0   10663.0  FAIRY H 1 ARADA BUL.MAKINESI 70'LI. LIMON
611060  596973.0   21588.0                                 DANA GULAS
611061  596365.0   21591.0                              DANA ANTRIKOT
611065  597287.0     968.0                   ICIM DOGAL YOGURT 2250GR
611068  596374.0   21584.0                          DANA KIYMALIK KG.

        FICHENO      DATE_  AMOUNT  PRICE  LINENETTOTAL  LINENET  BRANCHNR  \
62        17902 2017-01-06   1.000  20.49         20.49    18.97      12.0
64        16540 2017-01-05   1.000  17.90         17.90    16.57      39.0
95        16903 2017-01-05  10.000   5.00         50.00    50.00      70.0
239       17473 2017-01-06   1.000  15.75         15.75    13.35      56.0
250       17450 2017-01-06   1.000  15.75         15.75    14.58      67.0
...         ...        ...     ...    ...           ...      ...       ...
610879   154695 2017-03-30   1.000  27.50         27.50    23.31      52.0
611060   154689 2017-03-30   0.996  23.90         23.80    22.04      11.0
611061   154529 2017-03-30   0.660  27.90         18.41    17.05       7.0
611065   154731 2017-03-30   6.000   7.25         43.50    40.28      41.0
611068   154531 2017-03-30   1.042  19.90         20.74    19.21      42.0

                      BRANCH          SALESMAN           CITY      REGION  \
62          Balıkesir Subesi     Sami KASIMOVA      Balıkesir         Ege
64            Isparta Subesi   Elif nur GÜNLER        Isparta     Akdeniz
95              Sivas Subesi   Hümeyra GEÇİCİ)          Sivas  İç Anadolu
239            Manisa Subesi        Veli ÇAHAN         Manisa         Ege
250            Samsun Subesi      Necdet VARAL         Samsun   Karadeniz
...                      ...               ...            ...         ...
610879        Kocaeli Subesi  Halil KIRMIZIGÜN        Kocaeli     Marmara
611060          Aydın Subesi      Selçuk TEZEL          Aydın         Ege
611061         Ankara Subesi     Meliha AKTEKE         Ankara  İç Anadolu
611065          İzmir Subesi      Gülten IŞLAK          İzmir         Ege
611068  Kahramanmaraş Subesi    Duygu TEKİNSİZ  Kahramanmaraş     Akdeniz

        LATITUDE  LONGITUDE CLIENTCODE        CLIENTNAME BRANDCODE  \
62       39.6484    27.8826     521495      Bilal PORSUK       152
64       37.7648    30.5566     791614      Tayfun BATAK        49
95       39.7477    37.0179    1021217     Kezban GÖŞELİ       163
239      38.6191    27.4289     285961  Görkem ZIESCHANG       307
250      41.2928    36.3313     241750     Hazal ÖZBAKIŞ        49
...          ...        ...        ...               ...       ...
610879   40.8533    29.8815     712152      Hikmet YEREN       298
611060   37.8560    27.8416      27039   Mevlüt AYDINLIK       235
611061   39.9208    32.8541     350244   Reyhan ÇELİKSOY       235
611065   38.4189    27.1287     946400     Dursun GEYLAN        67
611068   37.5858    36.9371    1098716   Deniz GÖKMENLER       235

             BRAND     CATEGORY_NAME1  CATEGORY_NAME2 CATEGORY_NAME3  \
62           YUDUM               GIDA     SIVI YAĞLAR        AYÇİÇEK
64        F NEFFİS               GIDA     SIVI YAĞLAR        AYÇİÇEK
95             JTİ             SİGARA             NaN            NaN
239          WELLA           KOZMETİK       SAÇ BAKIM   SAÇ BOYALARI
250       F NEFFİS    SÜT KAHVALTILIK          PEYNİR  KAŞAR PEYNİRİ
...            ...                ...             ...            ...
610879       FAİRY  DETERJAN TEMİZLİK  BULAŞIK YIKAMA         MAKİNE
611060       KASAP           ET TAVUK      KIRMIZI ET           DANA
611061       KASAP           ET TAVUK      KIRMIZI ET           DANA
611065  İÇİM SEHER    SÜT KAHVALTILIK          YOĞURT      YOĞURTLAR
611068       KASAP           ET TAVUK      KIRMIZI ET           DANA

                 STARTDATE             ENDDATE GENDER
62     2017-01-07 14:28:00 2017-01-07 14:29:39      E
64     2017-01-06 20:08:26 2017-01-06 20:08:39      E
95     2017-01-06 13:44:22 2017-01-06 13:44:45      K
239    2017-01-07 14:52:34 2017-01-07 14:53:16      E
250    2017-01-07 20:00:19 2017-01-07 20:04:26      K
...                    ...                 ...    ...
610879 2017-03-31 12:24:13 2017-03-31 12:24:54      E
611060 2017-03-31 10:18:03 2017-03-31 10:18:39      E
611061 2017-03-31 18:27:07 2017-03-31 18:27:56      K
611065 2017-03-31 15:18:26 2017-03-31 15:28:25      E
611068 2017-03-31 18:36:26 2017-03-31 18:36:54      E

[17698 rows x 26 columns]

### 17- Verisetinde BRANCH ı Balıkesir Subesi olan satırları bulalım

In [22]:
balikesir_branch = data2[data2["BRANCH"] == "Balıkesir Subesi"]
print(balikesir_branch)

              ID  ITEMCODE                                ITEMNAME  FICHENO  \
15        9625.0    5780.0                          SALKIM DOMATES    17865
16        9748.0    5715.0                                 PATATES    17902
62        9745.0   10429.0             YUDUM AYCICEK YAGI 5 LT TNK    17902
124       9907.0    5710.0                           KIRMIZI BIBER    17945
165       3534.0   23477.0  NOGAY ÖZEL ÜRÜN YAGLI SELE ZEYTINI LUX    16607
...          ...       ...                                     ...      ...
610941  604581.0     132.0              GOZDE KOKTELY SOSIS 500 GR   156739
610942  604582.0     132.0              GOZDE KOKTELY SOSIS 500 GR   156739
611049  604585.0    5694.0                                 DOMATES   156739
611085  511252.0     195.0            ULKER PIKNIK KAKAOLU 3*70 GR   134582
611093  511278.0   18219.0                SULTAN KEP.BUGDAY EKMEGI   134590

            DATE_  AMOUNT  PRICE  LINENETTOTAL  LINENET  BRANCHNR  \
15     2017-01-06   0.945   5.20          4.91     4.55      12.0
16     2017-01-06   2.790   2.45          6.84     6.33      12.0
62     2017-01-06   1.000  20.49         20.49    18.97      12.0
124    2017-01-06   0.750   4.95          3.71     3.44      12.0
165    2017-01-05   0.540   9.95          5.37     4.98      12.0
...           ...     ...    ...           ...      ...       ...
610941 2017-03-31   1.000   5.50          5.50     5.09      12.0
610942 2017-03-31   1.000   5.50          5.50     5.09      12.0
611049 2017-03-31   1.040   2.65          2.76     2.56      12.0
611085 2017-03-18   1.000   1.50          1.50     1.39      12.0
611093 2017-03-18   1.000   1.00          1.00     0.99      12.0

                  BRANCH       SALESMAN       CITY REGION  LATITUDE  \
15      Balıkesir Subesi  Sami KASIMOVA  Balıkesir    Ege   39.6484
16      Balıkesir Subesi  Sami KASIMOVA  Balıkesir    Ege   39.6484
62      Balıkesir Subesi  Sami KASIMOVA  Balıkesir    Ege   39.6484
124     Balıkesir Subesi  Neriman BEYAZ  Balıkesir    Ege   39.6484
165     Balıkesir Subesi  Sami KASIMOVA  Balıkesir    Ege   39.6484
...                  ...            ...        ...    ...       ...
610941  Balıkesir Subesi  Neriman BEYAZ  Balıkesir    Ege   39.6484
610942  Balıkesir Subesi  Neriman BEYAZ  Balıkesir    Ege   39.6484
611049  Balıkesir Subesi  Neriman BEYAZ  Balıkesir    Ege   39.6484
611085  Balıkesir Subesi   Sıraç MEHMET  Balıkesir    Ege   39.6484
611093  Balıkesir Subesi  Sami KASIMOVA  Balıkesir    Ege   39.6484

        LONGITUDE CLIENTCODE       CLIENTNAME BRANDCODE   BRAND  \
15        27.8826      74884    Miray KOÇOĞLU       A25     HAL
16        27.8826     521495     Bilal PORSUK       A25     HAL
62        27.8826     521495     Bilal PORSUK       152   YUDUM
124       27.8826        NaN              NaN       A25     HAL
165       27.8826     654286       Pınar ECİR        99   NOGAY
...           ...        ...              ...       ...     ...
610941    27.8826       1589     Sevda MEVSİM       NaN     NaN
610942    27.8826       1589     Sevda MEVSİM       NaN     NaN
611049    27.8826       1589     Sevda MEVSİM       A25     HAL
611085    27.8826     872827   Zekiye ERDAMAR       146   ÜLKER
611093    27.8826     628800  Hacer YOLCUOĞLU       134  SULTAN

         CATEGORY_NAME1 CATEGORY_NAME2 CATEGORY_NAME3           STARTDATE  \
15          MEYVE SEBZE          SEBZE            NaN 2017-01-07 11:12:54
16          MEYVE SEBZE          SEBZE            NaN 2017-01-07 14:28:00
62                 GIDA    SIVI YAĞLAR        AYÇİÇEK 2017-01-07 14:28:00
124         MEYVE SEBZE          SEBZE            NaN 2017-01-07 17:24:07
165     SÜT KAHVALTILIK         ZEYTİN            NaN 2017-01-06 09:40:58
...                 ...            ...            ...                 ...
610941         ET TAVUK   ET ŞARKÜTERİ          SOSİS 2017-04-01 16:24:46
610942         ET TAVUK   ET ŞARKÜTERİ          SOSİS 2017-04-01 16:24:46
611049      MEYVE SEBZE          SEBZE            NaN 2017-04-01 16:24:46
611085             GIDA  BÜSKİVİ ÇEREZ        BÜSKİVİ 2017-03-19 17:51:42
611093             GIDA  UNLU MAMÜLLER          EKMEK 2017-03-19 18:09:02

                   ENDDATE GENDER
15     2017-01-07 11:13:35      K
16     2017-01-07 14:29:39      E
62     2017-01-07 14:29:39      E
124    2017-01-07 17:24:25    NaN
165    2017-01-06 09:42:01      K
...                    ...    ...
610941 2017-04-01 16:25:31      K
610942 2017-04-01 16:25:31      K
611049 2017-04-01 16:25:31      K
611085 2017-03-19 17:52:13      K
611093 2017-03-19 18:09:23      K

[9428 rows x 26 columns]

### 18- Verisetinde Balıkesir Subesinde LINENETTOTAL i 2 den düsük olan satırları bulalım

In [ ]:
balikesir_branch = data2[data2["BRANCH"] == "Balıkesir Subesi"]

In [23]:
balikesir_branch_line_net_total_less_than_2 = balikesir_branch[balikesir_branch["LINENETTOTAL"] < 2]
print(balikesir_branch_line_net_total_less_than_2)

              ID  ITEMCODE                             ITEMNAME  FICHENO  \
188       9624.0    5737.0                               PIRASA    17865
378       8929.0   11336.0  VIVIDENT CZD TROPIKAL 14 ADET 26 GR    17688
468       7807.0   21130.0         COLGATE UCLU ETKI 125ML D.M.    17485
472       8162.0    3337.0           F SAFF ÇÖP POŞETİ ORTA BOY    17548
478       8119.0   21197.0            RUFFLES ORIGINALAILE 87GR    17548
...          ...       ...                                  ...      ...
610865  596300.0    5723.0                             ELMA IRI   154522
610903  604579.0   21140.0       FILIZ MAKARNA INCE UZUN 500 GR   156739
610904  604580.0   21140.0       FILIZ MAKARNA INCE UZUN 500 GR   156739
611085  511252.0     195.0         ULKER PIKNIK KAKAOLU 3*70 GR   134582
611093  511278.0   18219.0             SULTAN KEP.BUGDAY EKMEGI   134590

            DATE_  AMOUNT  PRICE  LINENETTOTAL  LINENET  BRANCHNR  \
188    2017-01-06   1.100   1.60          1.76     1.63      12.0
378    2017-01-06   1.000   1.95          1.95     1.81      12.0
468    2017-01-06   1.000   1.95          1.95     1.81      12.0
472    2017-01-06   2.000   0.85          1.70     1.44      12.0
478    2017-01-06   1.000   1.75          1.75     1.61      12.0
...           ...     ...    ...           ...      ...       ...
610865 2017-03-30   0.715   2.30          1.64     1.52      12.0
610903 2017-03-31   1.000   1.25          1.25     1.15      12.0
610904 2017-03-31   1.000   1.25          1.25     1.16      12.0
611085 2017-03-18   1.000   1.50          1.50     1.39      12.0
611093 2017-03-18   1.000   1.00          1.00     0.99      12.0

                  BRANCH        SALESMAN       CITY REGION  LATITUDE  \
188     Balıkesir Subesi   Sami KASIMOVA  Balıkesir    Ege   39.6484
378     Balıkesir Subesi   Neriman BEYAZ  Balıkesir    Ege   39.6484
468     Balıkesir Subesi  Esmanur GÖLBAŞ  Balıkesir    Ege   39.6484
472     Balıkesir Subesi   Sami KASIMOVA  Balıkesir    Ege   39.6484
478     Balıkesir Subesi   Sami KASIMOVA  Balıkesir    Ege   39.6484
...                  ...             ...        ...    ...       ...
610865  Balıkesir Subesi   Neriman BEYAZ  Balıkesir    Ege   39.6484
610903  Balıkesir Subesi   Neriman BEYAZ  Balıkesir    Ege   39.6484
610904  Balıkesir Subesi   Neriman BEYAZ  Balıkesir    Ege   39.6484
611085  Balıkesir Subesi    Sıraç MEHMET  Balıkesir    Ege   39.6484
611093  Balıkesir Subesi   Sami KASIMOVA  Balıkesir    Ege   39.6484

        LONGITUDE CLIENTCODE       CLIENTNAME BRANDCODE     BRAND  \
188       27.8826      74884    Miray KOÇOĞLU       A25       HAL
378       27.8826     434547      Zerda OKKAY       148  VİVİDENT
468       27.8826      97917   Alparslan OGUR       245   COLGATE
472       27.8826      48405    Birol BORAZAN        50    F SAFF
478       27.8826      48405    Birol BORAZAN        54     FRİTO
...           ...        ...              ...       ...       ...
610865    27.8826     946477  Şengül BALCIDAN       A25       HAL
610903    27.8826       1589     Sevda MEVSİM        52     FİLİZ
610904    27.8826       1589     Sevda MEVSİM        52     FİLİZ
611085    27.8826     872827   Zekiye ERDAMAR       146     ÜLKER
611093    27.8826     628800  Hacer YOLCUOĞLU       134    SULTAN

       CATEGORY_NAME1         CATEGORY_NAME2         CATEGORY_NAME3  \
188       MEYVE SEBZE                  SEBZE                    NaN
378              GIDA        SAKIZ SEKERLEME                  SAKIZ
468          KOZMETİK             AĞIZ BAKIM             DİŞ MACUNU
472                EV  MUTFAK EŞYA GEREÇLERİ  MUTFAK SARF MALZEMESİ
478              GIDA          BÜSKİVİ ÇEREZ                   CİPS
...               ...                    ...                    ...
610865    MEYVE SEBZE                  MEYVE                    NaN
610903           GIDA                MAKARNA               MAKARNA
610904           GIDA                MAKARNA               MAKARNA
611085           GIDA          BÜSKİVİ ÇEREZ                BÜSKİVİ
611093           GIDA          UNLU MAMÜLLER                  EKMEK

                 STARTDATE             ENDDATE GENDER
188    2017-01-07 11:12:54 2017-01-07 11:13:35      K
378    2017-01-07 17:40:58 2017-01-07 17:42:29      K
468    2017-01-07 18:36:18 2017-01-07 18:36:29      E
472    2017-01-07 16:24:26 2017-01-07 16:33:56      E
478    2017-01-07 16:24:26 2017-01-07 16:33:56      E
...                    ...                 ...    ...
610865 2017-03-31 17:45:24 2017-03-31 17:46:33      K
610903 2017-04-01 16:24:46 2017-04-01 16:25:31      K
610904 2017-04-01 16:24:46 2017-04-01 16:25:31      K
611085 2017-03-19 17:51:42 2017-03-19 17:52:13      K
611093 2017-03-19 18:09:02 2017-03-19 18:09:23      K

[4040 rows x 26 columns]

### 19- Verisetindeki Sutunlardan ITEMNAME => URUN_ADI , ITEMCODE=> URUN_ID,BRANCH=>SUBE_ADI olarak değiştirin

In [26]:
data2.rename(columns={'ITEMNAME': 'URUN_ADI', 'ITEMCODE': 'URUN_ID', 'BRANCH': 'SUBE_ADI'}, inplace=True)
print(data2.head())

        ID  URUN_ID                         URUN_ADI  FICHENO      DATE_  \
0  11738.0   5863.0  SPRITE 1 LT LIMON AROMALI GAZOZ    18456 2017-01-07
1  10537.0      8.0                        TOZ SEKER    18105 2017-01-06
2  11335.0   5979.0             FALIM SAKIZ 5LI NANE    18350 2017-01-03
3  11336.0   5979.0             FALIM SAKIZ 5LI NANE    18350 2017-01-03
4  10115.0  12808.0            FALIM SAKIZ 5LI CILEK    18005 2017-01-05

   AMOUNT  PRICE  LINENETTOTAL  LINENET  BRANCHNR         SUBE_ADI  \
0     1.0   2.00          2.00     1.85      52.0   Kocaeli Subesi
1     5.0   2.65         13.25    12.27       8.0   Antalya Subesi
2     1.0   0.40          0.40     0.37      40.0  İstanbul Subesi
3     1.0   0.40          0.40     0.37      40.0  İstanbul Subesi
4     1.0   0.40          0.40     0.37      41.0     İzmir Subesi

       SALESMAN      CITY   REGION  LATITUDE  LONGITUDE CLIENTCODE  \
0     Eyüp CİNE   Kocaeli  Marmara   40.8533    29.8815     467369
1  İlhan ÖRENLİ   Antalya  Akdeniz   36.8841    30.7056     131464
2  İsmet SARTIK  İstanbul  Marmara   41.0053    28.9770     656969
3  İsmet SARTIK  İstanbul  Marmara   41.0053    28.9770     656969
4  Gülten IŞLAK     İzmir      Ege   38.4189    27.1287     447336

       CLIENTNAME BRANDCODE   BRAND CATEGORY_NAME1   CATEGORY_NAME2  \
0  Sercan KIZILOK       156  SPRİTE         İÇECEK     GAZLI İÇECEK
1    İsmet ŞINGIR       NaN     NaN         İÇECEK        ÇAY KAHVE
2     Yağız KUBAL       300   FALIM           GIDA  SAKIZ SEKERLEME
3     Yağız KUBAL       300   FALIM           GIDA  SAKIZ SEKERLEME
4    Habibe AYSAN       300   FALIM           GIDA  SAKIZ SEKERLEME

       CATEGORY_NAME3           STARTDATE             ENDDATE GENDER
0               GAZOZ 2017-01-08 16:16:11 2017-01-08 16:17:13      E
1  SEKER TATLANDIRICI 2017-01-07 11:04:34 2017-01-07 11:05:37      E
2               SAKIZ 2017-01-04 14:00:03 2017-01-04 14:01:01      E
3               SAKIZ 2017-01-04 14:00:03 2017-01-04 14:01:01      E
4               SAKIZ 2017-01-06 14:00:30 2017-01-06 14:01:03      K

### 20- Verisetimizin 100-103 arasındaki satırlarının ID den LINENETTOTAL a kadar olan sutunlardaki değerlerini yazdırınız.

In [29]:
selected_rows_and_columns = data2.loc[100:103, 'URUN_ID': 'LINENETTOTAL']
print(selected_rows_and_columns)

     URUN_ID                                URUN_ADI  FICHENO      DATE_  \
100  23467.0  BURDAN 30 LU BUYUK BOY KAPAKLI YUMURTA    15772 2017-01-02
101    446.0             ULKER COKOKREM 700GR.-1202-    16839 2017-01-05
102   2660.0        NESTLE NESQUIK 500 GR %20 BEDAVA    17836 2017-01-06
103    263.0                 YAHYAOGLU 15 LI YUMURTA    17752 2017-01-06

     AMOUNT  PRICE  LINENETTOTAL
100     1.0   9.95          9.95
101     1.0   8.25          8.25
102     1.0   5.90          5.90
103     1.0   4.85          4.85

### 21- Verisetindeki CATEGORY_NAME3 sutununu verisetinden silelim

In [30]:
data2.drop(columns=['CATEGORY_NAME3'], inplace=True)
print(data2.head())

        ID  URUN_ID                         URUN_ADI  FICHENO      DATE_  \
0  11738.0   5863.0  SPRITE 1 LT LIMON AROMALI GAZOZ    18456 2017-01-07
1  10537.0      8.0                        TOZ SEKER    18105 2017-01-06
2  11335.0   5979.0             FALIM SAKIZ 5LI NANE    18350 2017-01-03
3  11336.0   5979.0             FALIM SAKIZ 5LI NANE    18350 2017-01-03
4  10115.0  12808.0            FALIM SAKIZ 5LI CILEK    18005 2017-01-05

   AMOUNT  PRICE  LINENETTOTAL  LINENET  BRANCHNR         SUBE_ADI  \
0     1.0   2.00          2.00     1.85      52.0   Kocaeli Subesi
1     5.0   2.65         13.25    12.27       8.0   Antalya Subesi
2     1.0   0.40          0.40     0.37      40.0  İstanbul Subesi
3     1.0   0.40          0.40     0.37      40.0  İstanbul Subesi
4     1.0   0.40          0.40     0.37      41.0     İzmir Subesi

       SALESMAN      CITY   REGION  LATITUDE  LONGITUDE CLIENTCODE  \
0     Eyüp CİNE   Kocaeli  Marmara   40.8533    29.8815     467369
1  İlhan ÖRENLİ   Antalya  Akdeniz   36.8841    30.7056     131464
2  İsmet SARTIK  İstanbul  Marmara   41.0053    28.9770     656969
3  İsmet SARTIK  İstanbul  Marmara   41.0053    28.9770     656969
4  Gülten IŞLAK     İzmir      Ege   38.4189    27.1287     447336

       CLIENTNAME BRANDCODE   BRAND CATEGORY_NAME1   CATEGORY_NAME2  \
0  Sercan KIZILOK       156  SPRİTE         İÇECEK     GAZLI İÇECEK
1    İsmet ŞINGIR       NaN     NaN         İÇECEK        ÇAY KAHVE
2     Yağız KUBAL       300   FALIM           GIDA  SAKIZ SEKERLEME
3     Yağız KUBAL       300   FALIM           GIDA  SAKIZ SEKERLEME
4    Habibe AYSAN       300   FALIM           GIDA  SAKIZ SEKERLEME

            STARTDATE             ENDDATE GENDER
0 2017-01-08 16:16:11 2017-01-08 16:17:13      E
1 2017-01-07 11:04:34 2017-01-07 11:05:37      E
2 2017-01-04 14:00:03 2017-01-04 14:01:01      E
3 2017-01-04 14:00:03 2017-01-04 14:01:01      E
4 2017-01-06 14:00:30 2017-01-06 14:01:03      K

### 22- Verisetinde URUN_ID sutunun en büyük değerini bulun ve ona göre boş değerlere bir değer atayın

In [31]:
maximum_urun_id = data2['URUN_ID'].max()
data2['URUN_ID'].fillna(maximum_urun_id, inplace=True)
print(data2["URUN_ID"])

0          5863.0
1             8.0
2          5979.0
3          5979.0
4         12808.0
           ...
611103        7.0
611104        7.0
611105        7.0
611106        7.0
611107     3942.0
Name: URUN_ID, Length: 611108, dtype: float64

<ipython-input-31-179f216f1e15>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data2['URUN_ID'].fillna(maximum_urun_id, inplace=True)

### 23- Verisetinde Bulunan URUN_ADI kısmındaki değerlere "BİLİNMEYEN ÜRÜN" atayın

In [32]:
data2['URUN_ADI'].fillna('BİLİNMEYEN ÜRÜN', inplace=True)
print(data2["URUN_ADI"])

0         SPRITE 1 LT LIMON AROMALI GAZOZ
1                               TOZ SEKER
2                    FALIM SAKIZ 5LI NANE
3                    FALIM SAKIZ 5LI NANE
4                   FALIM SAKIZ 5LI CILEK
                       ...
611103                       EKMEK 250 GR
611104                       EKMEK 250 GR
611105                       EKMEK 250 GR
611106                       EKMEK 250 GR
611107             ETI 80 GR KARAM BITTER
Name: URUN_ADI, Length: 611108, dtype: object

<ipython-input-32-220cd4fb5f15>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data2['URUN_ADI'].fillna('BİLİNMEYEN ÜRÜN', inplace=True)

### 24- Verisetinde Bulunan CLIENTCODE sutunun boş değerlerine "#unk999"atayın

In [33]:
data2['CLIENTCODE'].fillna('#unk999', inplace=True)
print(data2["CLIENTCODE"])

0         467369
1         131464
2         656969
3         656969
4         447336
           ...
611103    374191
611104    656248
611105     78643
611106    926041
611107    241748
Name: CLIENTCODE, Length: 611108, dtype: object

<ipython-input-33-bfbd786632dc>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data2['CLIENTCODE'].fillna('#unk999', inplace=True)

### 25- Verisetinde Bulunan CLIENTNAME sutunun boş değerlerine "BILINMEYEN MUSTERI" atayın

In [34]:
data2['CLIENTNAME'].fillna('BILINMEYEN MUSTERI', inplace=True)
print(data2["CLIENTNAME"])

0           Sercan KIZILOK
1             İsmet ŞINGIR
2              Yağız KUBAL
3              Yağız KUBAL
4             Habibe AYSAN
                ...
611103     Mahmut BAYATGİL
611104         Gamze BOTUÇ
611105    Cengiz BEREKETÇİ
611106    Elifnur EGİNKAYA
611107      Hacer CANDEMİR
Name: CLIENTNAME, Length: 611108, dtype: object

<ipython-input-34-3ec5853034fa>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data2['CLIENTNAME'].fillna('BILINMEYEN MUSTERI', inplace=True)

### 26- Verisetinde CATEGORY_NAME1 i dolu oup CATEGORY_NAME2 boş olan satırlar var bu satırlarda CATEGORY_NAME2 kısmına CATEGORY_NAME1 deki değeri atayalım

In [36]:
data2.loc[data2['CATEGORY_NAME2'].isnull(), 'CATEGORY_NAME2'] = data2['CATEGORY_NAME1']

print(data2[['CATEGORY_NAME1', 'CATEGORY_NAME2']])

       CATEGORY_NAME1   CATEGORY_NAME2
0              İÇECEK     GAZLI İÇECEK
1              İÇECEK        ÇAY KAHVE
2                GIDA  SAKIZ SEKERLEME
3                GIDA  SAKIZ SEKERLEME
4                GIDA  SAKIZ SEKERLEME
...               ...              ...
611103           GIDA    UNLU MAMÜLLER
611104           GIDA    UNLU MAMÜLLER
611105           GIDA    UNLU MAMÜLLER
611106           GIDA    UNLU MAMÜLLER
611107           GIDA    BÜSKİVİ ÇEREZ

[611108 rows x 2 columns]

### 27- Verisetinde Alışveriş Yapan Kişilerin Cinsiyet Sutunundaki NaN değerleri U ile Değiştirin

In [37]:
data2['GENDER'].fillna('U', inplace=True)
print(data2["GENDER"])

0         E
1         E
2         E
3         E
4         K
         ..
611103    E
611104    K
611105    E
611106    K
611107    K
Name: GENDER, Length: 611108, dtype: object

<ipython-input-37-f04677dc9c5d>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data2['GENDER'].fillna('U', inplace=True)

### 28-Verisetinde BRANDCODE ve BRAND sutunlarında sutunlarında boş değerlere #UN999 ve UNNBRD değerlerini atayalım

In [38]:
data2['BRANDCODE'].fillna('#UN999', inplace=True)
data2['BRAND'].fillna('UNNBRD', inplace=True)
print(data2[['BRANDCODE', 'BRAND']])

       BRANDCODE   BRAND
0            156  SPRİTE
1         #UN999  UNNBRD
2            300   FALIM
3            300   FALIM
4            300   FALIM
...          ...     ...
611103    #UN999  UNNBRD
611104    #UN999  UNNBRD
611105    #UN999  UNNBRD
611106    #UN999  UNNBRD
611107        44     ETİ

[611108 rows x 2 columns]

<ipython-input-38-b668144ef26c>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data2['BRANDCODE'].fillna('#UN999', inplace=True)
<ipython-input-38-b668144ef26c>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data2['BRAND'].fillna('UNNBRD', inplace=True)

### 29-Verisetinde CATEGORY_NAME1  ve CATEGORY_NAME2 sutunlarında sutunlarında boş değerlere UNKCATG değerlerini atayalım

In [39]:
data2['CATEGORY_NAME1'].fillna('UNKCATG', inplace=True)
data2['CATEGORY_NAME2'].fillna('UNKCATG', inplace=True)
print(data2[['CATEGORY_NAME1', 'CATEGORY_NAME2']])

       CATEGORY_NAME1   CATEGORY_NAME2
0              İÇECEK     GAZLI İÇECEK
1              İÇECEK        ÇAY KAHVE
2                GIDA  SAKIZ SEKERLEME
3                GIDA  SAKIZ SEKERLEME
4                GIDA  SAKIZ SEKERLEME
...               ...              ...
611103           GIDA    UNLU MAMÜLLER
611104           GIDA    UNLU MAMÜLLER
611105           GIDA    UNLU MAMÜLLER
611106           GIDA    UNLU MAMÜLLER
611107           GIDA    BÜSKİVİ ÇEREZ

[611108 rows x 2 columns]

<ipython-input-39-092f5f9473b6>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data2['CATEGORY_NAME1'].fillna('UNKCATG', inplace=True)
<ipython-input-39-092f5f9473b6>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data2['CATEGORY_NAME2'].fillna('UNKCATG', inplace=True)

### 30- Verisetinde Kalan Boş Değerleri Silelim

In [40]:
data2.dropna(inplace=True)
print(data2)

              ID  URUN_ID                         URUN_ADI  FICHENO  \
0        11738.0   5863.0  SPRITE 1 LT LIMON AROMALI GAZOZ    18456
1        10537.0      8.0                        TOZ SEKER    18105
2        11335.0   5979.0             FALIM SAKIZ 5LI NANE    18350
3        11336.0   5979.0             FALIM SAKIZ 5LI NANE    18350
4        10115.0  12808.0            FALIM SAKIZ 5LI CILEK    18005
...          ...      ...                              ...      ...
611103  511703.0      7.0                     EKMEK 250 GR   134656
611104  511496.0      7.0                     EKMEK 250 GR   134630
611105  492612.0      7.0                     EKMEK 250 GR   130100
611106  512343.0      7.0                     EKMEK 250 GR   134762
611107  512179.0   3942.0           ETI 80 GR KARAM BITTER   134738

            DATE_  AMOUNT  PRICE  LINENETTOTAL  LINENET  BRANCHNR  \
0      2017-01-07     1.0   2.00          2.00     1.85      52.0
1      2017-01-06     5.0   2.65         13.25    12.27       8.0
2      2017-01-03     1.0   0.40          0.40     0.37      40.0
3      2017-01-03     1.0   0.40          0.40     0.37      40.0
4      2017-01-05     1.0   0.40          0.40     0.37      41.0
...           ...     ...    ...           ...      ...       ...
611103 2017-03-18     1.0   0.90          0.90     0.89      66.0
611104 2017-03-18     1.0   0.90          0.90     0.89       7.0
611105 2017-03-15     1.0   0.90          0.90     0.89      59.0
611106 2017-03-18     1.0   0.90          0.90     0.88      40.0
611107 2017-03-18     1.0   1.90          1.90     1.76      74.0

               SUBE_ADI        SALESMAN      CITY      REGION  LATITUDE  \
0        Kocaeli Subesi       Eyüp CİNE   Kocaeli     Marmara   40.8533
1        Antalya Subesi    İlhan ÖRENLİ   Antalya     Akdeniz   36.8841
2       İstanbul Subesi    İsmet SARTIK  İstanbul     Marmara   41.0053
3       İstanbul Subesi    İsmet SARTIK  İstanbul     Marmara   41.0053
4          İzmir Subesi    Gülten IŞLAK     İzmir         Ege   38.4189
...                 ...             ...       ...         ...       ...
611103   Sakarya Subesi  Beren BULGURCU   Sakarya     Marmara   40.6940
611104    Ankara Subesi       Eda SINAV    Ankara  İç Anadolu   39.9208
611105     Muğla Subesi  Nisa nur SAĞIM     Muğla         Ege   37.2153
611106  İstanbul Subesi     Arife DORAP  İstanbul     Marmara   41.0053
611107     Tokat Subesi  Lütfiye DÖŞEME     Tokat   Karadeniz   40.3167

        LONGITUDE CLIENTCODE        CLIENTNAME BRANDCODE   BRAND  \
0         29.8815     467369    Sercan KIZILOK       156  SPRİTE
1         30.7056     131464      İsmet ŞINGIR    #UN999  UNNBRD
2         28.9770     656969       Yağız KUBAL       300   FALIM
3         28.9770     656969       Yağız KUBAL       300   FALIM
4         27.1287     447336      Habibe AYSAN       300   FALIM
...           ...        ...               ...       ...     ...
611103    30.4358     374191   Mahmut BAYATGİL    #UN999  UNNBRD
611104    32.8541     656248       Gamze BOTUÇ    #UN999  UNNBRD
611105    28.3636      78643  Cengiz BEREKETÇİ    #UN999  UNNBRD
611106    28.9770     926041  Elifnur EGİNKAYA    #UN999  UNNBRD
611107    36.5500     241748    Hacer CANDEMİR        44     ETİ

       CATEGORY_NAME1   CATEGORY_NAME2           STARTDATE  \
0              İÇECEK     GAZLI İÇECEK 2017-01-08 16:16:11
1              İÇECEK        ÇAY KAHVE 2017-01-07 11:04:34
2                GIDA  SAKIZ SEKERLEME 2017-01-04 14:00:03
3                GIDA  SAKIZ SEKERLEME 2017-01-04 14:00:03
4                GIDA  SAKIZ SEKERLEME 2017-01-06 14:00:30
...               ...              ...                 ...
611103           GIDA    UNLU MAMÜLLER 2017-03-19 09:39:54
611104           GIDA    UNLU MAMÜLLER 2017-03-19 20:30:58
611105           GIDA    UNLU MAMÜLLER 2017-03-16 17:51:04
611106           GIDA    UNLU MAMÜLLER 2017-03-19 17:00:12
611107           GIDA    BÜSKİVİ ÇEREZ 2017-03-19 16:00:15

                   ENDDATE GENDER
0      2017-01-08 16:17:13      E
1      2017-01-07 11:05:37      E
2      2017-01-04 14:01:01      E
3      2017-01-04 14:01:01      E
4      2017-01-06 14:01:03      K
...                    ...    ...
611103 2017-03-19 09:40:50      E
611104 2017-03-19 20:31:17      K
611105 2017-03-16 17:51:18      E
611106 2017-03-19 17:01:20      K
611107 2017-03-19 16:00:37      K

[611107 rows x 25 columns]

### 31- Mağazamızda Çalısan Eleman Sayısını Bulunuz

In [41]:
worker_count = data2['CLIENTNAME'].nunique()
print(worker_count)

52804

### 32-Şirketimizin Hangi Bölgelerde Kaç Subesi Var Onu Yazdıralım

In [44]:
unique_branch_count_per_city = data2.groupby('CITY')['SUBE_ADI'].count()
print(unique_branch_count_per_city)

CITY
Adana              15862
Adıyaman            4558
Afyonkarahisar      5102
Aksaray             3164
Amasya              2700
                   ...
Çorum               4227
İstanbul          113622
İzmir              32328
Şanlıurfa          14824
Şırnak              3750
Name: SUBE_ADI, Length: 81, dtype: int64

### 33-En Çok Ücret Alan Fiş No ve o fişin toplam tutarını yazdırın.

In [48]:
max_price_fiche_no = data2.loc[data2['PRICE'].idxmax(), 'FICHENO']
total_price = data2.loc[data2['PRICE'].idxmax(), 'LINENETTOTAL']
print("Ficheno:", max_price_fiche_no)
print("Total price:", total_price)

Ficheno: 52800
Total price: 1799.0

### 34-  Şirketimizin Hangi Bölgede Ne Kadar Müşterisi Var onu yazdıralım

In [49]:
customer_count_per_city = data2.groupby('CITY')['CLIENTNAME'].nunique()
print(customer_count_per_city)

CITY
Adana              3643
Adıyaman            982
Afyonkarahisar     1204
Aksaray             718
Amasya              622
                  ...
Çorum               950
İstanbul          19813
İzmir              6739
Şanlıurfa          3211
Şırnak              856
Name: CLIENTNAME, Length: 81, dtype: int64

### 35- En Çok ürün Alan Fiş No

In [50]:
most_common_product = data2['URUN_ADI'].value_counts().idxmax()

print(most_common_product)

EKMEK 250 GR

### 36-En Çok Ciro Yapan Şube ve o şubenin müşteri sayısını bulun

In [54]:
total_line_net_total_per_branch = data2.groupby('SUBE_ADI')['LINENETTOTAL'].sum()
most_profitable_branch = total_line_net_total_per_branch.idxmax()
unqiue_customer_count = data2[data2['SUBE_ADI'] == most_profitable_branch]['CLIENTNAME'].nunique()
print("City:", most_profitable_branch)
print("Customer Count:", unqiue_customer_count)

City: İstanbul Subesi
Customer Count: 19813

### 37-Müşterilerin Kasada En Çok Vakit Geçirdikleri Şube

In [56]:
data2['START_DATE'] = pd.to_datetime(data2['STARTDATE'])
data2['END_DATE'] = pd.to_datetime(data2['ENDDATE'])
data2['DATE_DIFF'] = (data2['END_DATE'] - data2['START_DATE']).dt.days

total_date_diff_per_branch = data2.groupby('SUBE_ADI')['DATE_DIFF'].sum()

max_date_diff_branch = total_date_diff_per_branch.idxmax()

print("City:", max_date_diff_branch)

City: Adana Subesi

### 38-Haftanın Günleri Bas Alınarak Ortalama cironun en yüksek olduğu gün hangisi

In [58]:
data2['DATE'] = pd.to_datetime(data2['DATE_'])
data2['WEEKDAY'] = data2['DATE_'].dt.day_name()

In [59]:
average_revenue_per_weekday = data2.groupby('WEEKDAY')['LINENETTOTAL'].mean()
max_average_revenue_weekday = average_revenue_per_weekday.idxmax()

In [60]:
print("Max average revenue weekday: ", max_average_revenue_weekday)

Max average revenue weekday:  Thursday

### 39-Ayın Hangi Günlerinde En Yüksek Çiro Yapılmıs?

In [66]:
data2['MONTH'] = data2['DATE_'].dt.month
data2['DAY'] = data2['DATE_'].dt.day

In [71]:
maximum_revenue_per_day = data2.groupby(['MONTH', 'DAY'])['LINENETTOTAL'].sum().idxmax()
print(maximum_revenue_per_day)
print("MONTH:", maximum_revenue_per_day[0])
print("DAY:", maximum_revenue_per_day[1])

(1, 17)
MONTH: 1
DAY: 17

### 40- Günün Hangi Saatlerinde Yoğunluk daha Fazla Olmakta

In [79]:
data2['DATE'] = pd.to_datetime(data2['STARTDATE'])
data2['HOUR'] = data2['STARTDATE'].dt.hour

In [80]:
customer_count_per_hour = data2.groupby('HOUR')['CLIENTNAME'].count()
max_customer_count_hour = customer_count_per_hour.idxmax()
print("Hour:", max_customer_count_hour)

Hour: 18

### 41-Kategori İsimlerini Yazdırın. İçlerinden Bir Tanesine ait alt urunleri bulup bu kategori arasında urunlerin satış yüzdelerini hesaplayın

In [12]:
total_per_category1 = data2.groupby('CATEGORY_NAME1')['LINENETTOTAL'].sum()
total_per_category2 = data2.groupby('CATEGORY_NAME2')['LINENETTOTAL'].sum()

total_category_count = data2['CATEGORY_NAME1'].value_counts()
category_ratio = total_per_category1 / total_per_category2.sum() * 100

CATEGORY_NAME1
BEBEK                 3.250559
DETERJAN TEMİZLİK     6.077362
ET TAVUK              9.714568
EV                    1.800082
GIDA                 28.498988
KAĞIT                 3.991217
KOZMETİK              4.818167
MEYVE SEBZE          11.109100
PET                   0.008060
SÜT KAHVALTILIK      19.568235
SİGARA                7.060990
İÇECEK               11.397985
Name: LINENETTOTAL, dtype: float64

In [13]:
total_per_category1

CATEGORY_NAME1
BEBEK                 74349.34
DETERJAN TEMİZLİK    139006.19
ET TAVUK             222199.21
EV                    41172.89
GIDA                 651851.21
KAĞIT                 91290.25
KOZMETİK             110204.90
MEYVE SEBZE          254096.05
PET                     184.35
SÜT KAHVALTILIK      447580.03
SİGARA               161504.50
İÇECEK               260703.66
Name: LINENETTOTAL, dtype: float64

In [14]:
total_per_category2

CATEGORY_NAME2
AĞIZ BAKIM            20563.57
BAKLİYAT             115908.50
BAYRAMLIK               627.18
BEBEK BAKIM            3491.24
BULAŞIK YIKAMA        28770.41
                       ...
ÇAY KAHVE            186139.73
ÇOCUK BEZLERİ         38676.40
ÇİKOLATA                647.86
ÇİKOLATA GOFRET       54784.57
İÇ GİYİM AKSESUAR      2085.95
Name: LINENETTOTAL, Length: 63, dtype: float64

In [15]:
category_ratio

CATEGORY_NAME1
BEBEK                 3.250559
DETERJAN TEMİZLİK     6.077362
ET TAVUK              9.714568
EV                    1.800082
GIDA                 28.498988
KAĞIT                 3.991217
KOZMETİK              4.818167
MEYVE SEBZE          11.109100
PET                   0.008060
SÜT KAHVALTILIK      19.568235
SİGARA                7.060990
İÇECEK               11.397985
Name: LINENETTOTAL, dtype: float64